<div class="footer__wrapper">
    <div class="footer__content-wrapper">
        <nav class="footer__site-navigation">
            <h6 class="footer__site-navigation-headline">Weiterführende Links</h6>
            <ul class="footer__site-navigation-list">
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/de/footer/impressum/index.html"
                        class="footer__site-navigation-list-link">Impressum</a>
                </li>
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/de/footer/datenschutz/index.html"
                        class="footer__site-navigation-list-link">Datenschutz</a>
                </li>
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/de/footer/barrierefreiheit/index.html"
                        class="footer__site-navigation-list-link">Barrierefreiheit</a>
                </li>
                <li class="footer__site-navigation-list-item is-copyright">
                    <span class="footer__site-navigation-list-copy">LMU München © 2021</span>
                </li>
            </ul>
        </nav>
    </div>
</div>
