<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <div style="display: none;">
        <h2>Hinweise zur Anmeldung</h2>
        <h3>Anmeldung für LMU-Angehörige</h3>
        <p>die Anmeldung erfolgt über das Single-Sign-On der LMU</p>

        <h3>Hinweise zur erstmaligen Anmeldung</h3>
        <p>
            Melden Sie sich zum ersten Mal am Cloud-Printing Portal der LMU an, prüfen Sie bitte unter <strong>Mein
                Profil</strong> ob ihre Kartennummer eingetragen ist.
            Wenn diese nicht eingetragen ist, hinterlegen Sie diese bitte unter <strong>Karten-ID ändern</strong>.
            Hierbei bitte auf die richtige Schreibweise achten, bei der Mensakarte nur die Ziffernfolge eingeben.
        </p>
        <h3>Anmeldung für Angehörige anderer Hochschulen</h3>
        <p>Zur erstmaligen Anmeldung bitte auf den Link <strong>Konto erstellen</strong> gehen und ein neues Konto
            einrichten, hierzu E-Mail-Adresse und Passwort eingeben, Sie erhalten eine Bestätigungs-E-Mail zur
            Aktivierung.
        </p>
        </div>
        <h2>Hinweise zur Erstanmeldung</h2>
        <ul>
            <li>Einmalig Konto erstellen</li>
            <li>Im Konto auf <strong>Mein Profil</strong> unter <strong>Karten-ID ändern</strong> Kartennummer angeben
                (auf richtige Schreibweise achten - geben Sie dabei nur die Ziffernfolge ein, <em>lassen Sie den Buchstaben
                am Anfang weg</em>)</li>
            <li>Speichern</li>
        </ul>
    </div>
    <div id="kosten">
        <h2>Kosten</h2>
        <table>
            <tr>
                <td>s/w</td>
                <td>DIN A4</td>
                <td>0,05 €</td>
            </tr>
            <tr>
                <td>s/w</td>
                <td>DIN A3</td>
                <td>0,10 €</td>
            </tr>
            <tr>
                <td>Farbe</td>
                <td>DIN A4</td>
                <td>0,15 €</td>
            </tr>
            <tr>
                <td>Farbe</td>
                <td>DIN A3</td>
                <td>0,30 €</td>
            </tr>
        </table>
        <h3>Anleitung & Support</h3>
        <p>Eine Anleitung finden Sie auf den <a href="http://www.ub.uni-muenchen.de/arbeiten/drucken/drucken/index.html"
                target="_blank">Webseiten der Universitätsbibliothek</a>.</p>
        <!--p>Bei Problemen steht Ihnen der telefonische Support der Fa. Ricoh unter der Nummer <a href="tel:+4951167424000">0511 / 6742 - 4000</a> zur Verfügung.</p-->
    </div>
</div>
