<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <h2>Hinweise zur Erstanmeldung</h2>
        <ul>
            <li>Einmalig Konto erstellen</li>
            <li>Im Konto auf <strong>Mein Profil</strong> unter <strong>Karten-ID ändern</strong> Kartennummer angeben
                (auf richtige Schreibweise achten - geben Sie dabei nur die Ziffernfolge ein, <em>lassen Sie den Buchstaben
                am Anfang weg</em>)</li>
            <li>Speichern</li>
        </ul>
    </div>
    <div id="kosten">
        <h2>Kosten</h2>
        <table>
            <tr>
                <td>s/w</td>
                <td>DIN A4</td>
                <td>0,05 €</td>
            </tr>
            <tr>
                <td>s/w</td>
                <td>DIN A3</td>
                <td>0,10 €</td>
            </tr>
            <tr>
                <td>Farbe</td>
                <td>DIN A4</td>
                <td>0,15 €</td>
            </tr>
            <tr>
                <td>Farbe</td>
                <td>DIN A3</td>
                <td>0,30 €</td>
            </tr>
        </table>
        <h3>Anleitung & Support</h3>
        <p>Eine Anleitung finden Sie auf den <a href="http://www.ub.uni-muenchen.de/arbeiten/drucken/drucken/index.html"
                target="_blank">Webseiten der Universitätsbibliothek</a>.</p>
        <!--p>Bei Problemen steht Ihnen der telefonische Support der Fa. Ricoh unter der Nummer <a href="tel:+4951167424000">0511 / 6742 - 4000</a> zur Verfügung.</p-->
    </div>
</div>
