<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <h2>Hinweise zur Anmeldung</h2>
        <ul>
            <li>Melden Sie sich mit der Studentenwerksnummer Ihrer LMUcard oder Mensakarte an.</li>
            <li>Geben Sie dabei nur die Ziffernfolge ein, <em>lassen Sie den Buchstaben am Anfang weg</em>.</li>
            <li>Achten Sie darauf, keinen Tippfehler zu machen, da Sie Ihre Dokumente sonst nicht selbst abrufen können und
                jemand anders mit dieser Nummer Zugriff darauf bekommen könnte.
                Sie tragen selbst die Verantwortung dafür, wenn sensible Daten durch Ihre Fehleingabe in fremde Hände
                geraten.</li>
        </ul>
    </div>
    <div id="kosten">
        <h2>Kosten</h2>
        <table>
          <tr>
            <td>s/w</td>
            <td>DIN A4</td>
            <td>0,05 €</td>
          </tr>
          <tr>
            <td>s/w</td>
            <td>DIN A3</td>
            <td>0,10 €</td>
          </tr>
          <tr>
            <td>Farbe</td>
            <td>DIN A4</td>
            <td>0,15 €</td>
          </tr>
          <tr>
            <td>Farbe</td>
            <td>DIN A3</td>
            <td>0,30 €</td>
          </tr>
        </table>
        <h3>Anleitung & Support</h3>
        <ul>
          <li>Eine Anleitung finden Sie auf den <a href="http://www.ub.uni-muenchen.de/arbeiten/drucken/drucken/index.html" target="_blank">Webseiten der Universitätsbibliothek</a></li>
          <li>Bei Problemen steht Ihnen der telefonische Support der Fa. Ricoh unter der Nummer 0511/6742-4000 zur Verfügung.</li>
        </ul>
      </div>
</div>