<div id="mensaKarteWrapper">
    <h2>LMUcard / Mensakarte</h2>
    <p>
        Zum Ausdrucken und Bezahlen an den Kopiergeräten benötigen Sie eine Chipkarte mit Cash-Funktion des
        Studierendenwerks München Oberbayerns, dies sind zum Beispiel die LMUcard und die Mensakarte
        (Siehe <a href="https://www.lmu.de/LMUcard" target="_blank">Informationen zur LMUcard</a>).
    </p>
    <p>
        Die Studierendenwerksnummer finden Sie auf der Rückseite links oben Ihrer LMUcard / Vorderseite unten rechts der
        Mensakarte.
    </p>
    <p>
        <img src="/static/img/lmucard_rueckseite.png" alt="Bild LMUcard Rückseite"
            style="height: 150px; width: auto; margin-right: 10px;" />
        <img src="/static/img/mensakarte.jpg" alt="Bild Mensakarte" style="height: 150px; width: auto;" />
    </p>
    <p>
        Mensakarten erhalten Sie bei den entsprechenden Ausgabestellen des <a
            href="https://www.studentenwerk-muenchen.de/mensa/bargeldlose-zahlung/" target="_blank">Studierendenwerks
            München Oberbayerns</a>
    </p>
</div>
