<div class="footer__wrapper">
    <div class="footer__content-wrapper">
        <nav class="footer__site-navigation">
            <h6 class="footer__site-navigation-headline">Related links</h6>
            <ul class="footer__site-navigation-list">
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/en/footer/imprint/index.html"
                        class="footer__site-navigation-list-link">Imprint</a>
                </li>
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/en/footer/privacy-disclaimer/index.html"
                        class="footer__site-navigation-list-link">Privacy policy</a>
                </li>
                <li class="footer__site-navigation-list-item">
                    <a href="https://www.lmu.de/en/footer/accessibility/index.html"
                        class="footer__site-navigation-list-link">Accessibility</a>
                </li>
                <li class="footer__site-navigation-list-item is-copyright">
                    <span class="footer__site-navigation-list-copy">LMU München © 2023</span>
                </li>
            </ul>
        </nav>
    </div>
</div>
