<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <h2>Information on registration</h2>
        <ul>
            <li>Create an account once</li>
            <li>In your account, go to <strong>My Profile</strong> under <strong>Change Card ID</strong> and provide the
                card number (pay attention to the correct format - enter only the numeric sequence, <em>omit the letter
                at the beginning</em>)</li>
            <li>Save</li>
        </ul>
    </div>
    <div id="kosten">
        <h2>Costs</h2>
        <table>
            <tr>
                <td>s/w</td>
                <td>DIN A4</td>
                <td>0.05 €</td>
            </tr>
            <tr>
                <td>s/w</td>
                <td>DIN A3</td>
                <td>0.10 €</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>DIN A4</td>
                <td>0.15 €</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>DIN A3</td>
                <td>0.30 €</td>
            </tr>
        </table>
        <h3>Instructions & Support</h3>
        <p>Instructions can be found on the <a href="http://www.ub.uni-muenchen.de/arbeit/drucken/drucken/index.html"
                target="_blank">University Library websites</a>.</p>
        <!--p>If you have any problems, Ricoh's telephone support is available at 0511/6742-4000.</p-->
    </div>
</div>
