<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <h2>Information on registration</h2>
        <ul>
            <li>Register with the student union number on your LMUcard or cafeteria card.</li>
            <li>Just enter the sequence of numbers,<em>leave out the letter at the beginning</em>.</li>
            <li>Be careful not to make any typos, otherwise you will not be able to access your documents yourself
              someone else with that number could get access to it.
              You are responsible if sensitive data falls into the hands of others due to your incorrect entry
              advised.</li>
        </ul>
    </div>
    <div id="kosten">
      <h2>Costs</h2>
      <table>
        <tr>
          <td>s/w</td>
          <td>DIN A4</td>
          <td>0.05 €</td>
        </tr>
        <tr>
          <td>s/w</td>
          <td>DIN A3</td>
          <td>0.10 €</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>DIN A4</td>
          <td>0.15 €</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>DIN A3</td>
          <td>0.30 €</td>
        </tr>
      </table>
      <h3>Instructions & Support</h3>
      <ul>
        <li>Instructions can be found on the <a href="http://www.ub.uni-muenchen.de/arbeit/drucken/drucken/index.html" target="_blank">University Library websites</a ></li>
        <li>If you have any problems, Ricoh's telephone support is available at 0511/6742-4000.</li>
      </ul>
    </div>
</div>