<div id="hinweiseKostenWrapper">
    <div id="hinweise">
        <div style="display: none;">
        <h2>Instructions for Login (LMU Members)</h2>
        <h3>Login for LMU Members</h3>
        <p>Login is done through the LMU Single Sign-On.</p>
        <h3>Instructions for First-time Login</h3>
        <p>
            When logging in for the first time on the LMU Cloud Printing Portal, please check under <strong>My
                Profile</strong> to see if your card number is entered.
            If it is not entered, please add it under <strong>Change Card ID</strong>.
            Please make sure to enter it correctly; for the Mensa card, only enter the numeric sequence.
        </p>
        <h3>Login for Members of Other Universities</h3>
        <p>For first-time login, please click on the <strong>Create Account</strong> link and set up a new account by
            providing your email address and password. You will receive a confirmation email for activation.</p>

        </div>
        <h2>Information on registration</h2>
        <ul>
            <li>Create an account once</li>
            <li>In your account, go to <strong>My Profile</strong> under <strong>Change Card ID</strong> and provide the
                card number (pay attention to the correct format - enter only the numeric sequence, <em>omit the letter
                at the beginning</em>)</li>
            <li>Save</li>
        </ul>

        <!--ul>
      <li>Register with the student union number on your LMUcard or cafeteria card.</li>
      <li>Just enter the sequence of numbers,<em>leave out the letter at the beginning</em>.</li>
      <li>Be careful not to make any typos, otherwise you will not be able to access your documents yourself
        someone else with that number could get access to it.
        You are responsible if sensitive data falls into the hands of others due to your incorrect entry
        advised.</li>
    </ul-->
    </div>
    <div id="kosten">
        <h2>Costs</h2>
        <table>
            <tr>
                <td>s/w</td>
                <td>DIN A4</td>
                <td>0.05 €</td>
            </tr>
            <tr>
                <td>s/w</td>
                <td>DIN A3</td>
                <td>0.10 €</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>DIN A4</td>
                <td>0.15 €</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>DIN A3</td>
                <td>0.30 €</td>
            </tr>
        </table>
        <h3>Instructions & Support</h3>
        <p>Instructions can be found on the <a href="http://www.ub.uni-muenchen.de/arbeit/drucken/drucken/index.html"
                target="_blank">University Library websites</a>.</p>
        <!--p>If you have any problems, Ricoh's telephone support is available at 0511/6742-4000.</p-->
    </div>
</div>
