<div id="mensaKarteWrapper">
    <h2>LMUcard / cafeteria card</h2>
    <p>
        To print and pay on the multi function printer / copier you need a chip card with a cash function from the
        Studierendenwerk München Oberbayern, these are the LMUcard or the Mensakarte (cafeteria card).
        <a href="https://www.lmu.de/LMUcard" target="_blank">Information about the LMUcard</a>.
    </p>
    <p>
        You can find the student union number on the back of your LMUcard / Mensakarte.
    </p>
    <p>
        <img src="/static/img/lmucard_rueckseite.png" alt="Image LMUcard back side"
            style="height: 150px; width: auto; margin-right: 10px;" />
        <img src="/static/img/mensakarte.jpg" alt="Image Mensakarte" style="height: 150px; width: auto;" />
    </p>
    <p>Canteen cards can be obtained from the relevant issuing points of the <a
            href="https://www.studentenwerk-muenchen.de/mensa/bargeldlose-zahl/" target="_blank">Studierendenwerk
            München Oberbayerns</a>
    </p>
</div>
