<div id="mensaKarteWrapper">
  <h2>LMUcard / cafeteria card</h2>
  <p>
    To print on the copier you need a chip card with a cash function from the Munich Student Union, these are the LMUcard and the cafeteria card.
    <a href="https://www.lmu.de/LMUcard" target="_blank">Information about the LMUcard</a>.
  </p>
  <p>
    You can find the student union number on the back of your LMUcard / cafeteria card.
  </p>
  <p>
    <img src="/static/img/lmucard_rueckseite.png" alt="Image LMUcard back side" style="height: 150px; width: auto; margin-right: 10px;" />
    <img src="/static/img/mensakarte.jpg" alt="Image Mensakarte" style="height: 150px; width: auto;" />
  </p>
  <p>Canteen cards can be obtained from the relevant issuing points of the <a href="https://www.studentenwerk-muenchen.de/mensa/bargeldlose-zahl/" target="_blank">Studentenwerk</a>
  </p>
  <div class="alert-box info" >
    <img src="/static/img/lmucard.png" alt="Image LMUcard front" style="height: 150px; width: auto;" class="left" />
    <h3>Have you already applied for and picked up your new LMUcard student card?</h3>
    <p>
      Do you already know that there will no longer be any study papers that will be sent out for the winter semester 2019/2020.
      The paper student ID card will be replaced by the LMUcard.
      If you don't have an LMUcard yet, apply for the <a href="http://www.portal.lmu.de/useraccount" >LMUcard in your LMU user account</a> now.
    </p>
    <p>
      <a href="https://www.it-servicedesk.uni-muenchen.de/lmucard/index.html" >Information about the LMUcard student card</a>.
    </p>
    <div class="g-clear"></div>
  </div>
</div>